body {
	background-color: #556B2F;
	color: #FF851B;
	font-size: 0.8em;
	font-family: "Comic Sans MS", sans-serif;
}

h1 {
	text-align: center;
	font-size: 60px;
}

p {
	padding: 50px 50px 50px 50px;
	font-size: 30px;
}

#trademark {
	text-align: center;
	font-size: 10px;
}

#satan {
	padding-left: 100px;
	max-height: 100px;
	max-width: 850px;
}

.fortnite {
	float: right;
	float: top;
	padding: 60px;
}

#step1 {
	font-size: 60px
}

#clock {
	float: left;
	padding: 60px;
	height: 20%;
	width: 20%;
}

td, th {
	border: 3px solid black;
}

.header {
	background-color: olive;
}
